<div class="flex">
  <div class="left-side">
    <div class="new-logo"></div>
    <div class="flex">
      <div class="kreis join flex">
        <h2>join</h2>
      </div>
      <div class="kreis meet flex">
        <h2>meet</h2>
      </div>
      <div class="kreis create flex">
        <h2>create</h2>
      </div>
    </div>
  </div>
  <div class="ball"></div>
  <div class="right-side">
    <div class="nav">
      <button [routerLink]="['/login']">Log in</button>
      <button [routerLink]="['/register']">Register</button>
    </div>
    <app-register-card></app-register-card>
  </div>
</div>
<div class="flex bottom">
  <div class="tagline">
    <h1>Meet people, do something.</h1>
  </div>
  <div class="second-screen bottom">
    <h3>Find the projects that inspire you and create your own.</h3>
  </div>
  <div class="">
    <h3>2. Join meaningful projects or pitch your idea and find helping hands.</h3>
  </div>
  <div class="">
    <h3>3. Get a clear overview of the projects' status using our project & task management tool.</h3>
  </div>
  <div class="">
    <h3>4. Meet up and celebrate achieved milestones.</h3>
  </div>
</div>
<div class="points-block">
  <h2>Does it sound nice to you? Get on with it! It's easy as 1, 2, 3.</h2>
  <div class="point-1">
      <img class="point-circle" src="../../assets/Circle1.svg" alt="Bullet Point 1">
      <p>Register here</p>
  </div>
  <div class="point-2">
      <img class="point-circle" src="../../assets/Circle2.svg" alt="Bullet Point 2">
      <p>Explore all the projects and join those you like</p>
    </div>
    <div class="point-3">
      <img class="e point-circle" src="../../assets/Circle3.svg" alt="Bullet Point 3">
      <p>Participate,contribute, do something! </p>
  </div>
</div>
<div class="text-box">
  <h2>
    Join <span class="highlight-green">Communic</span> and impact the community around. We have real
    <span class="highlight-yellow">cookies</span> for everybody.
  </h2>
  <p class="p-cookies">
    <i class="em-svg em-cookie" aria-role="presentation" aria-label="COOKIE"></i><i class="em-svg em-cookie"
      aria-role="presentation" aria-label="COOKIE"></i><i class="em-svg em-cookie" aria-role="presentation"
      aria-label="COOKIE"></i>
  </p>
  <small>* We don't use cookies in this website.</small>
</div>
<footer>
  <div>
    <p>
      Made with <i class="fas fa-heart"></i> by
      <a target="_blank" href="https://codecampleipzig.de/">Code Camp Leipzig</a>
    </p>
  </div>
</footer>