.new-logo {
  background: url("../../assets/new-logo.svg");
  background-repeat: no-repeat;
  display: flex;
  margin: 3.5rem;
  width: 80vh;
  height: 70px;
}

.left-side {
  padding-bottom: 2rem;
}

.kreis {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  text-align: center;
  margin: 1em;
}
.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2 {
  color: #fff;
  align-self: center;
}

.join {
  background-color: var(--primaryColorHighlight);
}
.meet {
  background-color: var(--primaryColorDark);
}
.create {
  background-color: var(--secondaryColorOrangeLight);
}
.right-side {
  background-color: var(--primaryColor);
}

.secondscreen h3 {
  color: var(--fontDarkGrey);
  display: ;
}

button {
  font-weight: bold;
  margin: 2rem;
  outline: none;
  text-decoration: none;
  color: #fff;
}

.nav {
  display: none;
}

.dark-background-block {
  background: var(--primaryColorDarker);
  text-align: center;
  padding: 2em;
}

.highlight-green {
  color: var(--secondaryColorGreen);
}

.highlight-yellow {
  color: var(--secondaryColorOrangeLight);
}

.p-cookies i {
  padding: 2em;
  margin-left: 1em;
}

small {
  color: #fff;
}

footer {
  background: var(--primaryColorDarker);
  text-align: center;
  color: #fff;
}

footer div {
  background: var(--primaryColor);
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: var(--primaryColorDark);
  text-decoration: underline;
}

@media (min-width: 800px) {
  .flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .new-logo {
    background-position-x: center;
    background-position-y: center;
    margin: 1rem;
  }

  .left-side {
    flex-grow: 1;
  }

  .right-side {
    flex-grow: 1;
  }

  .kreis {
    width: 10rem;
    height: 10rem;
  }

  .join,
  .meet,
  .create {
    margin: 1rem;
  }
  h2 {
    margin: 0 auto;
    align-self: center;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 1200px) {
  .flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .new-logo {
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 150px;
  }

  .left-side {
    flex-grow: 1;
  }

  .right-side {
    flex-grow: 1;
  }

  .kreis {
    width: 15rem;
    height: 15rem;
  }

  h2 {
    font-size: 50px;
    padding: 0;
    align-self: center;
  }

  .nav {
    padding-right: 3em;
  }

  .bottom {
    background-color: var(--placeholderGrey);
  }

  .bottom h2 {
    color: var(--fontDarkGrey);
    padding-left: 2rem;
  }
}
