.new-logo {
  background: url("../../assets/new-logo.svg");
  background-repeat: no-repeat;
  display: block;
  margin: 1rem 0 0 1rem;
  display: block;
  width: 50vh;
  height: auto;
}

.flex {
  display: block;
  justify-content: center;
  align-content: center;
}

.left-side {
  background: #ffff;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

.right-side {
  background-color: #fff;
  flex-grow: 2;
  display: block;
}

.kreis {
  border-radius: 50%;
  border: solid, 1px;
  width: 5em;
  height: 5em;
  text-align: center;
  text-justify: center;
}

h2 {
  color: #fff;
  font-size: small;
}

.join {
  background-color: var(--primaryColorHighlight);
  margin: 1rem;
}
.meet {
  background-color: var(--primaryColor);
  margin: 1rem;
}
.create {
  background-color: var(--secondaryColorOrangeLight);
  margin: 1rem;
}
.right-side {
  background-color: var(--primaryColor);
}
.first-half {
  background-color: var(--primaryColor);
}

.second-half {
  background-color: var(--primaryColorHighlight);
}
button {
  font-weight: bold;
  margin: 1em;
  outline: none;
  text-decoration: none;
  color: #fff;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 3em;
}

footer {
  background: var(--primaryColorDarker);
  text-align: center;
  color: #fff;
}

footer div {
  background: var(--primaryColor);
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: var(--primaryColorDark);
  text-decoration: underline;
}

.dark-background-block {
  background: var( --primaryColorDarker);
  text-align: center;
  padding: 1.5em;
}

.highlight-green {
  color: var(--secondaryColorGreen);

}

.highlight-yellow {
  color: var(--secondaryColorOrangeLight)
}

@media (min-width: 800px) {
  .flex {
    display: flex;
    justify-content: space-evenly;
  }
  .left-side {
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  .kreis {
    border-radius: 50%;
    border: solid, 1px;
    width: 15rem;
    height: 15rem;
    align-items: center;
    justify-content: center;
  }
  .new-logo {
    background: url("../../assets/new-logo.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    margin: 4rem 0 0 0rem;
    width: 100%;
    height: 60px;
  }

  .tagline {
    color: var(--fontLightGrey);
  }

  .bottom {
    background-color: var(--fontLightGrey);
  }

  .flex {
    justify-content: center;
  }

  .right-side {
    flex-grow: 1;
    display: block;
  }

  .kreis {
    border-radius: 50%;
    border: solid, 1px;
    width: 5rem;
    height: 5rem;
    text-align: center;
  }

  h2 {
    color: #fff;
    font-size: small;
  }

  .join {
    background-color: var(--primaryColorHighlight);
    margin: 1rem;
  }
  .meet {
    background-color: var(--primaryColor);
    margin: 1rem;
  }
  .create {
    margin: 1rem;
  }
  .right-side {
    background-color: var(--primaryColor);
  }
  .first-half {
    background-color: var(--primaryColor);
  }

  .second-half {
    background-color: var(--primaryColorHighlight);
  }
  button {
    font-weight: bold;
    margin: 1em;
    outline: none;
    text-decoration: none;
    color: #fff;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 3em;
  }
}
@media (min-width: 1200px) {
  .flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-bottom: 30rem;
  }
  .kreis {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    align-items: center;
    justify-content: center;
  }
  .new-logo {
    background: url("../../assets/new-logo.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    margin: 0rem 0 0 0rem;
    width: 100%;
    height: 60px;
  }

  .right-side {
    flex-grow: 1;
    display: block;
  }

  h2 {
    color: #fff;
    font-size: 50px;
  }

  .join {
    background-color: var(--primaryColorHighlight);
    margin: 1rem;
  }
  .meet {
    background-color: var(--secondaryColorOrangeLight);
    margin: 1rem;
  }
  .create {
    margin: var(--secondaryColorOrangeLight) 1rem;
  }
  .right-side {
    background-color: var(--primaryColor);
  }

  button {
    font-weight: bold;
    margin: 1em;
    outline: none;
    text-decoration: none;
    color: #fff;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 3em;
  }

  .bottom {
    background-color: var(--placeholderGrey);
  }
  .bottom h2 {
    color: var(--fontDarkGrey);
    padding-left: 2rem;
  }
}
