.list-wrapper {
    display: grid;
    grid-gap: 1em;
}

@media (min-width:450px) {
    .list-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
 }

 @media (min-width:900px) {
    .list-wrapper {
        grid-gap: 2em;
        grid-template-columns: repeat(3, 1fr);
    }
}
