/**
 * User-List in mobile view will dispaly user in 1 column
 */
#user-list {
   display : grid;
   grid-template-columns: repeat(1, 1fr);
   color: grey;
}
/**
 * User-List from 800px on will dispaly user in 2 columns
 */
@media (min-width:800px) {
   #user-list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
   }
}
/**
 * User-List from 1200px will dispaly user in 3 columns
 */
@media (min-width:1200px) {
   #user-list {
      grid-template-columns: repeat(3, minmax(0, 1fr));
   }
}

.joinButton {
   font-size: .8rem;
   min-width: 150px;
   width: 15%;
   border-radius: 10px;
   line-height: 1.5rem;
   margin: 1em;
   padding: 1em 1em;
}

