<!--
   Heading for the TeamCard
-->
<h2>Team</h2>
<!--
   User list shows a list of User that belong to the team 
-->
<ul class="unstyled-list" id="user-list">
   <li *ngFor="let member of team">
      <app-team-member [user]="member"></app-team-member>
   </li>
</ul>
<!--
   Button appears when user has not yet joined
   - [ ] still needs to have the user added to the userlist of the project (trigger the store)
-->
<div *ngIf="!joined()">
   <button class="button" (click)="join()">Join</button>
</div>
<!--
   Button appears when user has joined
-->
<div *ngIf="joined()">
   <button class="button" (click)="leave()">Leave</button>
</div>
