
<div class="topRightIcon" *ngIf="formVisible" (click)="closeForm()">
    <i class="fas fa-times"></i>
</div>

<div class="createNewTask" *ngIf="!formVisible" (click)="openForm()">
    <i class="fas fa-plus"></i>
</div>

<div class="taskHeader" *ngIf="formVisible">
    <div class="taskCheckbox checkbox"></div>
    <input class="taskTitle" placeholder="Task Name Please"/>
</div>

<textarea *ngIf="formVisible" class="taskDescription" placeholder="Please describe the task that needs doing.">
</textarea>