<!-- <div class="toolbar-wrapper">
  <div class="toolbar">
    <div class="home-project">
      <button class="home-icon">
        <a><img [src]="homeIconSource" alt="Home" (click)="navigateHome()"/></a>
      </button>
      <app-project-action id="project-action"></app-project-action>
    </div>
    <app-searchtool></app-searchtool>

    <app-user-action id="user-action"></app-user-action>
  </div>
</div> -->

<a routerLink="/home" class="home"><i class="fas fa-home"></i></a>
<div class="communic-text">
  <h2>COMMUNIC</h2>
</div>
<app-project-action id="project-action" [project]="store.project$ | async"></app-project-action>
<app-searchtool *ngIf="store.project$ != null"></app-searchtool>
<app-user-action id="user-action"></app-user-action>