:host {
   display: flex;
   align-items: center;
   max-width: 1200px;
   width: calc(100vw - 1em);
   margin: 0.5em auto;
   padding: .5em 1em
}

a.home {
   font-size: 2rem;
   color: var(--fontDarkGrey);
   margin-right: .6em;
}

a.home:hover {
   color: var(--primaryColor);
}

app-user-action {
   flex-grow: 1;
}

@media (min-width: 500px) {
   :host {
      padding: .75em 1.5em;
   }
}
