:host {
  display: flex;
  /* position: sticky; */
  left: 0;
  right: 0;
  top: 1em;
  max-width: 1200px;
  width: calc(100vw - 1em);
  margin: auto;
  padding: 0.5em 1em;
  transition: top 0.3s;
  z-index: 999;
  align-items: center;
  flex-grow: 1;
}

.communic img {
  justify-content: space-around;
}

img {
  margin: 0;
  padding: 0.5em 1em;
  height: 30px;
}

app-user-action {
  flex-grow: 1;
}

@media (min-width: 500px) {
  :host {
    padding: 0.75em 1.5em;
  }
}
