:host {
  display: flex;
  /* position: fixed; */
  left: 0;
  right: 0;
  top: 1em;
  max-width: 1200px;
  width: calc(100vw - 1em);
  margin: auto;
  padding: .5em 1em;
  transition: top 0.3s;
  z-index: 999;
  align-items: center;
}

a.home {
  font-size: 2rem;
  color: var(--fontDarkGrey);
  margin-right: .6em;
}

a.home:hover {
  color: var(--primaryColor);
}

app-user-action {
  flex-grow: 1;
}

@media (min-width: 500px) {
  :host {
    padding: .75em 1.5em;
  }
}