:host {
   cursor: pointer;
   display: flex;
   flex-direction: column;
   height: 100%;
   align-items: start;
}

.project-picture {
   text-align: center;
}

.project-description {
   flex-grow: 1;
   display: -webkit-box;
   -webkit-line-clamp: 10;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.project-picture img {
   max-height: 250px;
}