   <div class="taskDelete">
         Ú <!-- Put future taskDelete Button Component here -->
   </div>
   <div class="taskHeader">
      <div class="taskCheckbox checkbox"> <!-- Put future taskCheckbox Component here --></div>
      <h4>{{task.name}}</h4>
   </div>
   <div class="taskTeam">
      <!-- future Task Join Component here -->
      <button class="button taskTeamJoin">Join</button>
      <div class="taskTeamList"> ( :) ) ( :) ) ( :) ) ( :) ) ( +3 )</div>
   </div>
   <p class="taskDescription">
      <!-- Replace this with future taskDescription Component here -->
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum corporis aperiam, totam nemo magnam ab labore vitae natus tempora obcaecati fuga, consequatur odit autem nobis eius deserunt accusantium aspernatur. Placeat.
      <small class="taskAuthor">created by John Doe</small>
   </p>