:host {
   background: var(--taskListItemBG);
   box-shadow: var(--taskListItemShadow);
   position: relative;
   border-radius: 4px;
   padding: .5em 1em;
   margin-bottom: 1em;
   display: flex;
   flex-flow: wrap;
   align-items: center;
}

   :host > * {
      margin-top: 0;
      margin-bottom: 1em;
   }

   .taskHeader > * {
      margin-right: 1em;
   }

   .taskDelete {
      position: absolute;
      top: .5em;
      right: 1em;
   }

   .taskHeader {
      display: flex;
      align-items: center;
   }

   h4 {
      margin: 0;
   }

   .taskDescription {
      margin-left: 1em;
      flex-basis: 100%;
   }
   