   <div class="taskDelete">
         Ú <!-- Put future taskDelete Button Component here -->
   </div>
   <div class="taskHeader">
      <div class="taskCheckbox checkbox status-{{task.status}}"> <!-- Put future taskCheckbox Component here --></div>
      <h4>{{task.name}}</h4>
   </div>
   <app-task-list-item-team [teamIDs]="teamIDs"></app-task-list-item-team>
   <p class="taskDescription">
      <!-- Replace this with future taskDescription Component here -->
      {{task.description}}
      <small class="taskAuthor">created by John Doe</small>
   </p>