<div>
    <form [formGroup]='profileForm' (ngSubmit)="onSubmit()">
       <label> 
          <input type="text" placeholder="Name" formControlName="name" required>
       </label>
       <span class = "formrule" *ngIf="(name.dirty || name.touched) && name.invalid && name.errors.required">
          <p>No name, no fun.</p>
        </span>
       <label>
          <input type="email" placeholder="Email" formControlName="email" required>
       </label>
       <span class = "formrule" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.required">
          <p>We promise not to spam you. Maybe.</p>
        </span>
       <label>   
          <input type="password" placeholder="Password" formControlName="password" required>
       </label>   
       <span class = "formrule" *ngIf="(password.dirty || password.touched) && password.invalid">
         <p>Safety first! Your password must contain an uppercase, a lowercase, a special character and a number.</p>
        </span>
       <a routerLink="/home"><button type="submit" [disabled]="!profileForm.valid">Join now!</button></a>
    </form>
</div>