<h1>Privacy Policy</h1>
<h2>– Communic –</h2>
<p>Valid from 12/2019</p>
<h2>1 Data protection</h2>
<p>
  (1) The parties must observe the applicable provisions of data protection law, in particular those applicable in
  Germany, and oblige their execution to data secrecy in accordance with § 5 BDSG, unless they are already under a
  general obligation to do so.
</p>
<p>
  (2) The provider takes technical and organizational security precautions and measures. In particular, the provider
  will protect the services and systems within its access as well as the application data stored on the server and any
  other data relating to the customer against unauthorized access, storage, alteration or otherunauthorized access or
  attack – whether by technical measures, viruses or other harmful programs or
</p>
<p>
  (3) data, no matter how they occur. To this end, it will take the appropriate and customary measures under the latest
  technology, in particular virus protection and protection against similar harmful programs, as well as other security
  measures relating to its facilities, including protection against burglary.
</p>
<p>
  (4) The transmission of personal data takes place using Secure Socket Layer (SSL) and AES-256 bit encryption to
  prevent unauthorized access. Credit card data is not stored. We secure our website and other systems through technical
  and organizational measures against loss, destruction, access, alteration or distribution of data by unauthorized
  persons. Access to a customer account is only possible after entering a personal password. Customers should always
  keep their access information confidential.
</p>
<p>
  (5) Under no circumstances will we pass on personal data, including email addresses, to third parties. Excluded from
  this is the publication of data required by law.
</p>
<p>
  (6) Personal Data will deleted by the provider upon users request. The request can be issued via email to:
  info@codecamp.de with subject: delete data
</p>
<h2>2 Analysis</h2>
<p>Why we collect information:</p>
<p>
  (a) Provision, improvement and permanent further developmentThrough the use of information we are able to provide
  content in a personalized way and to optimize usability.The data provides us with important information about usage
  and software performance and thus forms the basis for permanent solution optimization and further development.
</p>
<p>
  (c) What types of information do we collect?We collect content and other information that you provide when using our
  services, including your registration, creation or sharing of content.
</p>
<p>
  We work with third-party companies that help us provide and improve our services; they also use advertising or similar
  products that enable us to operate our businesses and provide free services to people around the world. A partner
  never receives personal user data.
</p>
<p>
  If we have locational information, we use it to customize our services for you and others; for example, by providing
  you with radius-related services.
</p>
<p>
  We conduct surveys and studies, test features that are still under development, and analyze the information we have in
  order to evaluate and improve products and services, develop new products or features, and perform audits and
  troubleshooting activities.
</p>
<p>
  (d) New owner:If the ownership or power over all or any part of our services or assets changes, we may transfer your
  information to the new owner.
</p>
<p>
  (f) Google Analytics:This website uses Google Analytics, a web analytics service provided by Google Inc. „(„Google“).
  Google Analytics uses „cookies“, which are text files placed on your computer, to help the website analyze how users
  use the site. The information generated by the cookie about your use of this website will generally be transmitted to
  and stored by Google on servers in the United States. However,if IP anonymization is enabled on this website, Google
  will previously truncate your IP address within member states of the European Union or other signatory states to the
  Agreement on the European Economic Area. Only in exceptional cases is the full IP address transmitted to a Google
  server in the USA and shortened there. On behalf of the operator of this website, Google will use this information to
  evaluate your use of the website, to compile reports on website activity and to provide other services relating to
  website activity and internet usage to the website operator. The IP address transmitted by your browser as part of
  Google Analytics is not combined with other data from Google. You may refuse the use of cookies by selecting the
  appropriate settings on your browser, however please note that if you do this you may not be able to use the full
  functionality of this website. You can also prevent Google from collecting the datagenerated by the cookie and related
  to your use of the website (including your IP address) and from processing this data by Google by downloading and
  installing the browser plug-in available under the following link.In view of the discussion about the use of analysis
  tools with complete IP addresses, we would like to point out that this website uses Google Analytics withthe extension
  „_anonymizeIp()“ and therefore IP addresses are only processed in abbreviated form in order to exclude direct personal
  references.
</p>
<p>
  (g) Use of Facebook social pluginsThis app uses, for simplified registration, so-called social plugins („plugins“) of
  the social network Facebook , which is operated by Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA
  („Facebook“). The plugins are marked with a Facebook logo or the addition „Social plugin from Facebook“ or „Facebook
  social plugin“. An overview of the Facebook plugins and their appearance can be found here.When you access a page of
  our app that contains such a plugin, your browser connects directly to Facebook’s servers. The content of the plugin
  is transmitted directly from Facebook to your browser and integrated into the website by it.By integrating the
  plugins, Facebook receives the information that your browser has called up the corresponding page of our website, even
  if you do not have a Facebook account or are not logged in to Facebook. This information (including your IP address)
  is transmitted directly from your browser to a Facebook server inthe USA and stored there.If you are logged into
  Facebook, Facebook can assign your visit to our website directly to your Facebook account. If you interact with the
  plugins, for example bypressing the „Like“ button or commenting, the corresponding information is also transmitted
  directly to a Facebook server and stored there. The information is also published on Facebook and displayed to your
  Facebook friends.Facebook may use this information for the purpose of advertising, market research and tailoring
  Facebook pages to meet your needs. Facebook creates usage, interest and relationship profiles for this purpose, e.g.
  to evaluate your use of our website with regard to the advertisements displayed to you on Facebook, to inform other
  Facebook users about your activities on our website and to provide other services associated with the use of
  Facebook.If you do not want Facebook to associate the information collected through our website with your Facebook
  account, you must log out of Facebook before visitingour website.It is also possible to block Facebook social plugins
  with add-ons for your browser, for example with the „Facebook Blocker“.The purpose and scope of the data collection
  and the further processing and use of the data by Facebook as well as your rights in this regard and setting options
  to protect your privacy can be found in Facebook’s data protection information.
</p>
<p>
  (h) Use of Google social pluginsGoogle Plus: to simplify registration, our app uses the „+1′′“ button of the social
  network Google Plus, which is operated by Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, United
  States („Google“). The button can be recognized by the sign „+1′′ on a white or colored background.If you call up a
  website of our Internet presence that contains such a button, yourbrowser establishes a direct connection with the
  servers of Google. The content of the „+1′′“ button is transmitted by Google directly to your browser and integrated
  into the website by it. We therefore have no influence on the extent of the data that Google collects with the button.
  According to Google, no personal data is collected without a click on the buttons. Only with logged-in members is such
  data, among other things the IP address, collected and processed.For the purpose and scope of data collection and the
  further processing and use of the data by Google, as well as your rights in this regard and setting options to protect
  your privacy, please refer to Google’s data protection information on the „+1′′- button and the FAQs..If you are a
  Google Plus member and do not want Google to collect information about you via our website and link it to your Google
  stored member information, you must log out of Google Plus before visiting our website.
</p>
<p>
  (i) Use of content for advertising purposes or presentations.Communic is, without limitation, entitled to use all user
  / app content (images and text) for presentation purposes or press releases.
</p>
<p>You can contact Communic as follows:</p>
<p>Online: info@codecampleipzig.de</p>
<p>Adress:</p>
<p>Code Camp Leipzig, Stephanstraße 22, 04103 Leipzig</p>
