.explore-project-card{
   position: center;
   display: flex;
   flex-direction: column;            
   justify-content: center;
   align-content: center;
   padding: 1.5em;
   height: 35em;
   background: #FFFFFF;
   box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   cursor: pointer;
}

.project-picture {
 display: flex;
 justify-content: center;
}

.project-picture > img {
   align-self: center;
   width: 80%;
}

.project-name {
   color: black;
   text-align: center;
   background-color: var(--background-color);
   padding: 1em 0;
   font-family: arial;
   font-weight: bold;
   font-size: 1.2em;
}

.project-description {
   color: black;
   text-align: justify;
   background-color: var(--background-color);
   padding: 1em 0;
   font-family: arial;
}

.readMore {
   color: black;
   text-align: center;
   background-color: var(--background-color);
   padding: 1em 0;
   font-family: arial;
   font-style: italic;
}