/**
 * Global Variables
 */

:root {
   --primaryColor: #655AF3;
   --primaryColorHighlight: #667ee7;
   --warningRed: #a94442;
   --successGreen: #42A948;
   --fontDarkGrey: #3A3A3A;
   --fontMediumGrey: #7A7A7A;
   --fontLightGrey: #AFAFAF;
   --iconColor: #878787; /* Used for the trash Icon in the Tasklist */
   --placeholderGrey: #F8F8F8; /* Used for placeholder Picture Backgrounds */
   --backgroundGrey: #FCFCFC; /* Used for the TaskListIcons */
   --borderGrey: #CECECE; /* Used for the Checkbox */
   --borderMediumGrey: #adadad;
   --borderPlaceholderGrey: #d8d8d8;

   /* Dropshadows to use box-shadow: var(--smallShadow); */
   --smallShadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
   --bigShadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
   --biggerShadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.1);
}

html, body {
   font-size: 14px;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-weight: 300;
   padding: 0 0 3em 0;
   margin: 0;
}

/**
 * Text & Headlines
 */

h2 {
   color: var(--fontDarkGrey);
   font-weight: 600;
}

h3 {
   font-weight: 500;
}

h4 {
   margin: 0;
   font-weight: 500;
   font-size: 1.2rem;
}

p {
   line-height: 1.5;
}

a {
   color: var(--primaryColor);
   text-decoration: none;
}

a:hover {
   color: var(--primaryColorHighlight);
   text-decoration: underline;
}

img {
   max-width: 100%;
}

/**
 * Utilities
 */

.unstyled-list {
   list-style: none;
   margin: 0;
   padding: 0;
}

.unstyled-list>li {
   margin:0;
   padding:0;
}

.display-flex {
   display: flex;
   flex-flow: wrap;
   align-items: center;
}

   
/**
 * Buttons & Forms
 */

.button,
input,
textarea {
   font-size: 1rem;
   line-height: 1.5;
   border-radius: 5px;
   transition: border .4s, background-color .4s, color .4s;
   box-sizing: border-box;
   font-family: inherit;
}


.button {
   cursor: pointer;
   background-color: var(--primaryColor);
   color: #fff;
   border: 0 none;
   min-width: 130px;
   padding: .9em 1.5em;
   appearance: none;
}

.button:hover,
.button:focus {
   background-color: var(--primaryColorHighlight);
   color: #fff;
   outline: 0 none;
}

/** 
 * Margin to the right for every Icon inside a button
 * - [ ] Maybe the Icon is on the right sometimes?
 */
.button i {
   margin-right: .5em;
}

/* Button Elements without background but border */
.button.outlined {
   border: 1px solid var(--primaryColor);
   color: var(--primaryColor);
   background-color: transparent;
}

.button.outlined:hover {
   color: #fff;
   background-color: var(--primaryColor);
}

/* And make the border round */
.button.round {
   border-radius: 1.5em;
   min-width: auto;
   padding: .5em 1em;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
   border: 1px solid var(--borderGrey);
   width: 100%;
   padding: .9em 1.5em;
}

input[type="text"]:not(:focus):placeholder-shown,
input[type="email"]:not(:focus):placeholder-shown,
input[type="password"]:not(:focus):placeholder-shown,
textarea:not(:focus):placeholder-shown {
   color: var(--borderGrey);
}

label {
   display:block;
   margin-bottom: 1em;
}


/**
 * Modules
 */

.card {
   background: #FFFFFF;
   box-shadow: var(--bigShadow);
   border-radius: 10px;
   padding: 1em 1.5em 2em; /* Space around the content of the cards */
   margin: 3em auto 0; /* Margin to top and center with auto */
   box-sizing: border-box; /* Calculate width with padding */
   transition: padding .4s, margin .4s, width .4s, height .4s; /* Nice Transitions when resizing */
   max-width: 450px;
   transition: box-shadow .4s;
}

/* Overrides for .card in the .cardList (e.g. Projects Overview) */
.card-list > .card {
   width: 100%;
   padding: 1em;
   margin: 0;
}

.card-list > .card:hover {
   box-shadow: var(--biggerShadow);
}

@media (min-width: 500px) {
  
   .card {
      padding: 2em 3em; /* Increase space around content */
      width: calc(100% - 4em);
   }

   .card-list > .card {
      padding: 1.5em;
   }
}

/* .card in .card looks like a TaskListItem */
.card .card {
   background: var(--backgroundGrey);
   box-shadow: var(--smallShadow);
   color: var(--fontDarkGrey);
   position: relative;
   border-radius: 4px;
   padding: .5em 1em;
   margin: 0 0 1em 0;
   max-width: 100%;
   width: 100%;
}

/* Wrapper for content */
.container {
   max-width: 1100px;
   margin: 3em auto 0;
   display: block;
   width: calc(100% - 2em); /* Space around the card */
}

/* Icon in the top right of Cards (e.g. taskDelete) */
.top-right-icon {
   position: absolute;
   top: .5em;
   right: 1em;
   cursor: pointer;
   color: var(--iconColor);
}

/* Reset .top-right-icon if it is a button */
button.top-right-icon {
   background:transparent;
   border: 0 none;
   font-size: 1em;
}

   .top-right-icon:hover {
      color: var(--warningRed);
   }