:host {
  display: flex;
  height: inherit;
  box-sizing: border-box;
  position: static;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em;
}

.register-card-title img {
  height: 4em;
}

:host > * {
  margin: auto;
}

.register-card {
  border-radius: 20px;
  box-shadow: none;
}

.register-card h2 {
  color: var(--primaryColor);
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
  margin: 1rem;
}

input[type="file"] {
  height: 0px;
  visibility: hidden;
}

.register-card .signIn {
  display: flex;
  text-align: center;
  justify-content: center;
}

.register-card .forgotPassword {
  display: flex;
  text-align: center;
  justify-content: center;
}

.avatar .user-image {
  font-size: 4rem;
}

.avatar {
  padding: 1em 0;
}

.button {
  margin-bottom: 1.5em;
}

.ng-valid[required],
.ng-valid.required {
  border-color: var(--successGreen);
  border-left-width: 5px;
}

.ng-invalid:not(form) {
  border-color: var(--warningRed);
  border-left-width: 5px;
}

input.ng-untouched {
  border-color: var(--borderGrey);
  border-left-color: var(--borderMediumGrey);
  border-left-width: 5px;
}

button[type="submit"] {
  width: 100%;
}

@media (min-width: 400px) {
  .register-card h2 {
    font-size: 2rem;
  }
}

@media (min-height: 650px) and (min-width: 480px) {
  .avatar {
    margin-bottom: 0.5em;
  }

  .avatar .user-image {
    font-size: 5rem;
  }
}
