<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
    <div class="mainContainer">   
        <div class="registerCard">
        <h2>Communic.io</h2>
            <h3>Join your community!</h3>
            <div class="avatar">
                <img src="../../../assets/hpotter-512.png" class="avatarimg">
                <button (click)="onSubmit()" type="submit">Upload Image</button>
            </div>
            <app-login-form></app-login-form>
            <div class="signIn"><p>Already have an account? <a href=""> Sign in </a></p></div>
        </div>
    </div>
    </body>
