.project-image {
    width: 100%;
    height: 30vw; /* placeholder height. Not needed for an actual picture */
    background: var(--placeholderGrey);
    border-radius: 6px;
}

@media screen and (min-width: 1100px) {
    :host {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas: 
            "title image"
            "description image";
        grid-gap: 1rem;
    }

    h2 {
        grid-area: title;
    }

    .project-image {
        grid-area: image;
        height: auto;
    }

    .project-description {
        grid-area: description
    }

}
