:host {
   display: flex;
}

.start-project-button {
   display: flex;
   justify-content: flex-end;
}
.breadcrumb {
   color: var(--fontDarkGrey);
   font-weight: 600;
}

.breadcrumb .fa-angle-right {
   font-size: 2rem;
   margin-right: .4em;
   color: var(--primaryColor);
}

.breadcrumb .item {
   font-size: 1.2rem;
   font-weight: 600;
}


