.projectActionWrapper {
   padding-left: 1.5em;
}

.startProjectButton {
   border: 1.2px solid #655AF3;
   border-radius: 6px;
   box-sizing: border-box;
   padding: 0.3em 1em;
   cursor: pointer;
   background-color: white;
   display: flex;
   align-items: center;
   text-decoration: none;
}

.startProjectButton>img {
   width: 18px;
   padding-right: .5em;
}

.startProjectButton>span {
   padding: .5em 0;
   color: #655AF3;
   font-size: 1rem;
}

.projectNameWrapper {
   display: flex;
}

.projectName {
   padding-left: 1em;
}