/*

@media all and (min-width: 490px) {
   .mobhide {
     display: none;
   }
 }

*/

.projectActionWrapper {
   padding-left: 1.5em;
   display: flex;
}

.startProjectButton {
   border: 1.2px solid #655AF3;
   border-radius: 6px;
   box-sizing: border-box;
   padding: 0.5em 1em;
   cursor: pointer;
   background-color: white;
   display: flex;
   align-items: center;
   text-decoration: none;
   color: #655AF3;
   font-size: 1em;
}

.startProjectButton>img {
   width: 18px;
   line-height: 1em;
   padding-right: .5em;
}

.startProjectButton>span {
   margin-left: 0.5em;
   font-size: 1em;
}

.projectNameWrapper {
   display: flex;
}

.projectName {
   padding-left: 1em;
}

@media (max-width: 490px) {
   .mobhide {
      display: none;
   } 
}

@media (max-width: 490px) {
   .toolbarWrapper {
      font-size: .9rem
   } 
}
