<app-toolbar></app-toolbar>

<form class="card container" [ngClass]="{ 'show-errors': showErrors }" [formGroup]="projectForm"
  (ngSubmit)="onSubmit()">
  <div class="top-right-icons">
    <!-- Delete Button redirects to homepage-->
    <button (click)="navigateHome()"><i class="fas fa-trash-alt"></i></button>
  </div>

  <label>
    <div class="title">
      <h3>Give your project a heart-warming title:</h3>
    </div>
    <input placeholder="Free Fries for everyone" size="20" type="text" name="title" formControlName="title" required />
    <span class="form-rule" *ngIf="showErrors">
      Please enter a warmhearted title.
    </span>
  </label>

  <!-- Upload Image -->
  <div class="project-image">
    <input type="file" id="myFileInput" accept="image/*" hidden (change)="onSelectFile($event)" />
    <button type="button" class="button outlined" *ngIf="!this.fileToUpload"
      onclick="document.getElementById('myFileInput').click()">
      Choose Image
    </button>

    <button type="button" class="button outlined" *ngIf="this.fileToUpload" (click)="this.uploadFile($event)">
      Upload Image
    </button>

    <img [src]="image" *ngIf="image" />
    <span style="color:red;" *ngIf="message">{{ message }}</span>
  </div>

  <label>
    <h3>Now, explain what it's all about:</h3>
    <textarea
      placeholder="This is the best project of the world because it makes sure absolutely everybody gets free fries for dinner once a week."
      rows="4" class="project-description" name="description" formControlName="description" minlength="40"
      required></textarea>
    <span class="form-rule" *ngIf="showErrors">
      Please enter a warmhearted description.
    </span>
  </label>

  <label>
    <h3>Have you set any goals for it?</h3>
    <textarea
      placeholder="This is project is important for humankind because it is scientifically proven fries make people 2x happier than broccoli and spinach put together. In the long run, this project aims to achieve world peace by multiplying individual happiness through increased fries consumption."
      rows="8" class="project-description" name="goal" formControlName="goal" minlength="60" required></textarea>
    <span class="form-rule" *ngIf="showErrors">
      Please enter an inspiring goal.
    </span>
  </label>

  <button class="button" type="submit">
    <span>Get Startet</span>
  </button>
</form>